openapi: 3.0.3
info:
  title: EPREL Public API (Unofficial Spec)
  description: >
    Unofficial OpenAPI specification for the EPREL Public API.
    This spec is based on publicly available documentation and
    may need adjustments depending on the current API version.
  version: 0.1.0
  contact:
    name: European Commission - EPREL

servers:
  - url: https://eprel.ec.europa.eu/api
    description: Production server (verify actual base path)

security:
  - ApiKeyAuth: []

paths:

  /products:
    get:
      summary: Search products
      description: Retrieve a list of products matching filter criteria.
      parameters:
        - name: productGroup
          in: query
          schema:
            type: string
          description: Product group identifier (e.g. REFRIGERATORS, TVs, etc.)
        - name: energyClass
          in: query
          schema:
            type: string
            example: A++
          description: Energy efficiency class filter
        - name: page
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Paginated list of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPage'
        "401":
          description: Unauthorized (invalid or missing API key)

  /products/{registrationNumber}:
    get:
      summary: Get product details
      description: Retrieve detailed information about a specific product.
      parameters:
        - name: registrationNumber
          in: path
          required: true
          schema:
            type: string
          description: EPREL registration number
      responses:
        "200":
          description: Product detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        "404":
          description: Product not found
        "401":
          description: Unauthorized

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:

    ProductPage:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        totalElements:
          type: integer
        totalPages:
          type: integer
        size:
          type: integer
        number:
          type: integer

    ProductSummary:
      type: object
      properties:
        registrationNumber:
          type: string
        brandName:
          type: string
        modelIdentifier:
          type: string
        energyClass:
          type: string
        productGroup:
          type: string

    ProductDetail:
      type: object
      properties:
        registrationNumber:
          type: string
        brandName:
          type: string
        modelIdentifier:
          type: string
        energyClass:
          type: string
        productGroup:
          type: string
        energyLabelUrl:
          type: string
          format: uri
        productInformationSheetUrl:
          type: string
          format: uri
        technicalParameters:
          type: object
          additionalProperties: true